<div class="container-fluid bg-primary px-0 px-md-12">
    <div class="container px-0 px-md-12">
        <div class="row g-0">
            <div class="d-flex flex-column align-items-start flex-md-row flex-md-nowrap justify-content-md-between py-md-16">
                <img class="py-16 ms-16 py-md-0" src="/assets/images/logo-white.png" style="width: 80px">
                <ul class="d-flex justify-content-between flex-wrap justify-content-md-end list-unstyled w-100 mb-md-0">
                    <li class="col-6 py-12 col-md-auto me-md-64 border-md-0 text-center border border-white"><a class="text-white fs-md-4" href="#">系列鏡框</a></li>
                    <li class="col-6 py-12 col-md-auto me-md-64 border-md-0 text-center border border-white"><a class="text-white fs-md-4" href="#">門市據點</a></li>
                    <li class="col-6 py-12 col-md-auto me-md-64 border-md-0 text-center border border-white"><a class="text-white fs-md-4" href="#">部落格</a></li>
                    <li class="col-6 py-12 col-md-auto text-center border-md-0 border border-white"><a class="text-white fs-md-4" href="#">常見問題</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>