<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./layout/header'); -%>

  <!--banner-->
<div class="container-fluid bg-homeheadersm">
  <div class="py-144 py-md-296">
    <div class="d-flex flex-column align-items-end">
      <p class="text-secondary fw-bold fs-md-3">Promise-Desert 2020 早春系列</p>
      <h1 class="fs-4 text-secondary fw-bold mb-8 fs-md-1">看得清，才能看得遠</h1>
      <div class="btn btn-primary fs-5 fw-bold">立即購買</div>
    </div>
  </div>
</div>

<!--服務介紹-->
<div class="serviceintro container-fluid bg-pink1 py-40  py-md-80">
  <div class="container">
    <div class="row">
      <h4 class="fw-bold text-center text-secondary mb-32 fs-md-2">用專業的心，做專業的事</h4>
      <ul class="list-unstyled d-md-flex flex-md-wrap px-md-0 flex-lg-nowrap">
        <li class="d-flex flex-column align-items-center mb-32 col-md-6 pe-md-12 col-lg-3">
          <img class="mb-24" src="/assets/images/home-section2-1.png" alt="">
          <h4 class="fw-bold text-secondary mb-8">單一價格</h4>
          <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
        </li>
        <li class="d-flex flex-column align-items-center mb-32 col-md-6 ps-md-12 col-lg-3 pe-lg-12">
          <img class="mb-24" src="/assets/images/home-section2-2.png" alt="">
          <h4 class="fw-bold text-secondary mb-8">20 分鐘即可取件</h4>
          <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
        </li>
        <li class="d-flex flex-column align-items-center mb-32 col-md-6 pe-md-12 col-lg-3 ps-lg-12">
          <img class="mb-24" src="/assets/images/home-section2-3.png" alt="">
          <h4 class="fw-bold text-secondary mb-8">安心售後服務</h4>
          <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
        </li>
        <li class="d-flex flex-column align-items-center mb-32 col-md-6 ps-md-12 col-lg-3">
          <img class="mb-24" src="/assets/images/home-sectioin2-4.png" alt="">
          <h4 class="fw-bold text-secondary mb-8">關於鏡片</h4>
          <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--經典系列鏡框-->
<div class="classical container py-40 py-md-80">
  <div class="row">
    <h4 class="text-secondary fw-bold text-center mb-24 fs-md-2 mb-md-48">經典系列鏡框</h4>
    <ul class="list-unstyled d-flex flex-column align-items-center flex-lg-row">
      <li class="mb-24 col-md-6 col-lg-4 mb-lg-0 ps-lg-12 pe-lg-12">
        <img class="mb-8" src="/assets/images/home-section3-1.png" alt="">
        <h2 class="text-primary fw-bold text-center">OPTICAL</h2>
      </li>
      <li class="mb-24 col-md-6 col-lg-4 mb-lg-0 ps-lg-12 pe-lg-12">
        <img class="mb-8" src="/assets/images/home-section3-2.png" alt="">
        <h2 class="text-primary fw-bold text-center">SUNGLASSES</h2>
      </li>
      <li class="col-md-6 col-lg-4 ps-lg-12 pe-lg-12">
        <img class="mb-8" src="/assets/images/home-section3-3.png" alt="">
        <h2 class="text-primary fw-bold text-center">FUNCTIONAL</h2>
      </li>
    </ul>
  </div>
</div>

<!--聯名設計鏡框-->
<div class="design container-fluid bg-indexbgsm py-40 py-md-80">
  <div class="container">
    <div class="row">
      <h2 class="fw-bold text-center text-white mb-24 fs-md-2 mb-md-48">聯名設計鏡框</h2>
      <ul class="list-unstyled d-flex flex-column align-items-center flex-lg-row">
        <li class="mb-24 mb-lg-0">
          <picture>
            <source srcset="/assets/images/home-section4-1.png"
                    media="(min-width: 576px)">
                    <img src="/assets/images/home-section4-1-sm.png">
          </picture>
          <h2 class="fw-bold text-bold text-primary text-center bg-white py-8 fs-md-2">DOUBLE A+</h2>
        </li>
        <li>
          <picture>
            <source srcset="/assets/images/home-section4-2.png"
                    media="(min-width: 576px)">
                    <img src="/assets/images/home-section4-2-sm.png">
          </picture>
          <h2 class="fw-bold text-bold text-primary text-center bg-white py-8 fs-md-2">YOUTH</h2>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--顧客推薦-->
<div class="recommed container py-40 py-md-80">
  <div class="row">
    <h2 class="text-primary fw-bold text-center mb-24 fs-md-2 mb-md-48">顧客推薦</h2>
    <ul class="list-unstyled d-md-flex flex-md-wrap flex-lg-nowrap">
      <li class="mb-16 col-md-6 pe-md-12 mb-md-24 col-lg-3 ps-lg-12">
        <div class="border border-gray rounded shadow-lg">
          <img src="/assets/images/home-section5-1.png" alt="">
          <div class="d-flex flex-column justify-content-between h-205 px-16 py-16">
            <div>
              <p class="mb-8">Jessy</p>
              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
            </div>
            <p class="fs-6 text-graylight fst-italic">2021/06/20</p>
          </div>
        </div>
      </li>
      <li class="mb-16 col-md-6 ps-md-12 mb-md-24 col-lg-3 pe-lg-12">
        <div class="border border-gray rounded shadow-lg">
          <img src="/assets/images/home-section5-2.png" alt="">
          <div class="d-flex flex-column justify-content-between h-205 px-16 py-16">
            <div>
              <p class="mb-8">凱倫</p>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            </div>
            <p class="fs-6 text-graylight fst-italic">2021/04/18</p>
          </div>
        </div>
      </li>
      <li class="mb-16 col-md-6 mb-md-0 pe-md-12 col-lg-3 ps-lg-12">
        <div class="border border-gray rounded shadow-lg">
          <img src="/assets/images/home-section5-3.png" alt="">
          <div class="d-flex flex-column justify-content-between h-205 px-16 py-16">
            <div>
              <p class="mb-8">悠悠</p>
              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            </div>
            <p class="fs-6 text-graylight fst-italic">2020/12/25</p>
          </div>
        </div>
      </li>
      <li class="col-md-6 ps-md-12 col-lg-3 pe-lg-12">
        <div class="border border-gray rounded shadow-lg">
          <img src="/assets/images/home-section5-4.png" alt="">
          <div class="d-flex flex-column justify-content-between h-205 px-16 py-16">
            <div>
              <p class="mb-8">Kyuan</p>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
            </div>
            <p class="fs-6 text-graylight fst-italic">2020/10/31</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--聯絡我們-->
<div class="container-fluid bg-pink1 py-40 py-md-80">
  <div class="container">
    <div class="row d-lg-flex flex-lg-column">
      <h2 class="fs-4 fw-bold text-center text-primary mb-24 fs-md-2 col-md-10 mx-md-auto col-lg-6">聯絡我們</h2>
      <p class="mb-24 col-md-10 mx-md-auto col-lg-6">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
      <form class="col-md-10 mx-md-auto col-lg-6">
        <div class="mb-16">
          <label for="name" class="form-label mb-8">姓名</label>
          <input type="text" class="form-control bg-pink1" id="name" placeholder="陳小明">
        </div>
        <div class="mb-16">
          <label for="tel" class="form-label mb-8">聯絡電話</label>
          <input type="text" class="form-control bg-pink1" id="tel" placeholder="0912-345-678">
        </div>
        <div class="mb-16">
          <label for="mail" class="form-label mb-8">電子郵件</label>
          <input type="text" class="form-control bg-pink1" id="mail" placeholder="example@email.com">
        </div>
        <div class="mb-16">
          <label for="advice" class="form-label mb-8">意見反應</label>
          <textarea class="form-control bg-pink1" id="advice" row="3" placeholder="請輸入您的意見"></textarea>
        </div>
        <div class="mb-16 form-check">
          <input type="checkbox" class="form-check-input bg-pink1" id="exampleCheck1">
          <label class="form-check-label mb-24 mb-md-0" for="exampleCheck1">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
        </div>
        <div class="text-md-center">
          <button type="submit" class="btn btn-primary col-12 py-16 mt-md-48 col-md-7 col-lg-8">確認送出</button>
        </div>
      </form>
    </div>
  </div>
</div>
  



  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>
</html>
